<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</head>

<body>
    <main class="vw-100 vh-100 d-flex flex-column align-items-center">
        <header class="navbar navbar-expand-lg w-75">
            <nav class="container-fluid p-0">
                <h2>Blog Php</h2>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="" class="nav-link link-dark">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link link-dark">Options</a>
                    </li>
                </ul>
            </nav>
        </header>

        {% if error %}
        <p class="alert alert-danger">{{error}}</p>
        {% endif %}

        <section class="w-75 mt-3">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="mb-4">Postagem</h3>
                <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#createPost">
                    Crie um post
                </button>

                <div class="modal fade" id="createPost" tabindex="-1" data-bs-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Fazer uma postagem</h5>
                                <a class="btn-close btn" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fa fa-close h5" aria-hidden="true"></i>
                                </a>
                            </div>
                            <form action="?page=home&method=post" method="post">
                                <div class="modal-body d-flex flex-column gap-4">
                                    <div class="d-flex flex-column">
                                        <label class="form-label">Titulo</label>
                                        <input class="form-control" name="title" type="text" placeholder="Titulo">
                                    </div>
                                    <div class="d-flex flex-column mt-3">
                                        <label class="form-label">Texto</label>
                                        <input class="form-control" name="message" type="text"
                                            placeholder="Escreve sua publicação">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-close btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button class="btn btn-primary" id="showToast" type="submit">Publicar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% for post in posts %}
            <div class="card bg-light mb-3">
                <div class="card-body d-flex justify-content-between">
                    <h6>Postado por: Thiago</h6>
                    <div class="d-flex align-items-center justify-content-center">
                        <h6 class="mr-3">Postado em: {{post.created_at}}</h6>
                        <a href="?page=home&method=delete&id={{post.id}}" class="h6">
                            <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                        </a>
                        <a href="" class="ml-3 h6" data-bs-toggle="modal" data-bs-target="#editPost{{post.id}}">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <div class="modal fade" id="editPost{{post.id}}" data-bs-backdrop="static" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header d-flex align-items-center">
                                        <h5 class="modal-title">Editar seu comentario</h>
                                            <a class="btn btn-close" data-bs-dismiss="modal">
                                                <i class="fa fa-close" aria-hidden="true"></i>
                                            </a>
                                    </div>
                                    <div class="modal-body">
                                        <form action="?page=home&method=edit&id={{post.id}}" method="post">
                                            <div class="">
                                                <label class="form-text">Título do comentário</label>
                                                <input class="form-control" value="{{post.title}}"
                                                    placeholder="Escreva um título" type="text" name="title">
                                            </div>
                                            <div class="mt-3">
                                                <label class="form-text">Mensagem do comentario</label>
                                                <input class="form-control" value="{{post.message}}"
                                                    placeholder="Escreva a mensagem" type="text" name="message">
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-close btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <button class="btn btn-primary" type="submit">Comentar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{post.title}}</h4>
                    <p class="card-text">{{post.message}}</p>
                </div>
                <div class="card-footer d-flex bg-light justify-content-between">
                    <a href="" class="text-decoration-none" data-bs-toggle="collapse" data-bs-target="#callapsePost{{post.id}}">Ver os 99 comentarios</a>
                    <a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#postModal">
                        Comente no post
                    </a>

                    <div class="modal fade" id="postModal" data-bs-backdrop="static" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header d-flex align-items-center">
                                    <h5 class="modal-title">Fazer um comentario</h>
                                        <a class="btn btn-close" data-bs-dismiss="modal">
                                            <i class="fa fa-close" aria-hidden="true"></i>
                                        </a>
                                </div>
                                <div class="modal-body">
                                    <form action="?page=home&method=comment" method="post">
                                        <div class="">
                                            <label class="form-text">Título do comentário</label>
                                            <input class="form-control" placeholder="Escreva um título" type="text"
                                                name="titleComment">
                                        </div>
                                        <div class="mt-3">
                                            <label class="form-text">Mensagem do comentario</label>
                                            <input class="form-control" placeholder="Escreva a mensagem" type="text"
                                                name="messageComment">
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-close btn-secondary"
                                                data-bs-dismiss="modal">Cancelar</button>
                                            <button class="btn btn-primary" type="submit">Comentar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="callapsePost{{post.id}}">
                    {% for comment in comments %}
                    <div class="card card-body">
                      <div class="d-flex justify-content-between align-items-center h6">
                        <p>Comentado por: Thiago</p>
                        <span>Comentado em: {{comment.created_at}}</span>
                      </div>
                      <div class="">
                        <p>{{comment.message}}</p>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
            </div>
            {% endfor %}
        </section>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">
            </script>
        <script src="https://kit.fontawesome.com/cef3251068.js" crossorigin="anonymous"></script>
    </main>
</body>

</html>